@media screen and (max-width: 480px){
  body {
    background-color: #3498DB;
    margin: 0;
    padding: 0;
    font-family: Muli;
  }
  *{
    transition: all 700ms cubic-bezier(0.525, -0.580, 0.790, 1.420);
  }
  .section1, .section2 {
    width: 100%;
    height: 100%;
  }
  .section2{
    margin: 5% 0%;
  }
  /*______________________________________________________________MENU_____*/
  /*_______________________________________________________________________*/
  #nav_item li a {
    font-size: 0.7em;
  }
  #responsive{
      opacity: 0.7;
      height: 60px;
text-align: center;
  position: relative;
  top: 0;
  display: inline-block;
  z-index: 2;
  width: 100%;
  background-color: black;
    }
  #nav_item{
    line-height: 60px;
    width: 100%;
    display: inline-block;
    list-style: none;
    }
  #nav_item li{
    padding-right: 5%;
    display: inline-block;
    }
    #nav_item li a {
      text-decoration: none;
      display: inline-block;
      border-radius: 5px 5px 0% 0%;
      font-size: 1.8em;
      color:#FFF;
      font-weight: bold;
/*      background-color: #585858;     */
    }
        h1{
            text-align: center;
            font-size: 56px;
            font-weight: bold;
        }
        #cours, #indiceUp{
            text-align: center;
            font-weight: bold;
            line-height:inherit;
            margin-top: 1%;
        }
        #tuto{
          font-weight: bold;
          margin-top: -5%;
        }
        #chevrons{
            text-align: center;
        }
        h4{
            text-align: center;
        }
        .jolifond{
	background: url("images/pixel.jpg") repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation-name: jolifond-animation;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes jolifond-animation {
	0% {background-position: left bottom;}
	100% {background-position: right bottom;}
}
  /*________________________________________________________________________*/
  /*__________________________________________________________SECTION 1_____*/

  .container1 {/*______________________POSITION GHOST 1_____*/
    position: absolute;
    margin-left: 6%;
    margin-top: 40%;
  }
  .ghost1 {/*___________________________TAILLE GHOST 1______*/
    animation: float 3s ease-out infinite;
    -webkit-animation: float 3s ease-out infinite;
    -moz-animation: float 3s ease-out infinite;
    -o-animation: float 3s ease-out infinite;
    width: 30%;
    height: 30%;
  }
  /*____________________________________________ANIM GHOST 1_____*/
  @keyframes float         { 50% {transform: translate(0, 20px);}  }
  @-webkit-keyframes float { 50% {transform: translate(0, 20px);}  }
  @-moz-keyframes float    { 50% {transform: translate(0, 20px);}  }
  @-o-keyframes float      { 50% {transform: translate(0, 20px);}  }

  .shadowFrame1 {/*______________________TAILLE OMBRE 1_____*/
    width: 20%;
    margin-top: 20px;
    margin-left: 4%;
  }
  .shadow {
    animation: shrink 3s ease-out infinite;
    -webkit-animation: shrink 3s ease-out infinite;
    -moz-animation: shrink 3s ease-out infinite;
    -o-animation: shrink 3s ease-out infinite;
    transform-origin: center center;
    ellipse { transform-origin: center center;  }
  }
  /*____________________________________________ANIM OMBRE 1_____*/
  @keyframes shrink        { 0%  {width:  60%;margin: 0 25%;}
                             50% {width: 100%;margin: 0  5%;}
                             100%{width:  60%;margin: 0 25%;}  }

  @-webkit-keyframes shrink{ 0%  {width:  60%;margin: 0 25%;}
                             50% {width: 100%;margin: 0  5%;}
                             100%{width:  60%;margin: 0 25%;}  }

  @-moz-keyframes shrink   { 0%  {width:  60%;margin: 0 25%;}
                             50% {width: 100%;margin: 0  5%;}
                             100%{width:  60%;margin: 0 25%;}  }

  @-o-keyframes shrink     { 0%  {width:  60%;margin: 0 25%;}
                             50% {width: 100%;margin: 0  5%;}
                             100%{width:  60%;margin: 0 25%;}  }

  .contour1 {/*_______________________________BULLE 1______*/
    margin: 8% 40%;
    background-color: transparent;
    width: 55%;
    height: 450px;
    border-radius: 40px;
    border: 10px solid #120756;
  }
  .fond1{
    margin: 0% 0% 0% 2%;/*haut,bas,droite,gauche*/
    background-color: #FFF;
    width: 98%;
    height: 97%;
    border-radius: 20px 30px 10px 20px;
  }
  .question{/*_____________________________TITRE CONTENU_____*/
    color:#120756;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1% 5%;
  }
  .text1{/*___________________CONTENU_____*/
    padding: 1% 3%;
    font-size: .8em;
    height: 340px;
    text-align: justify;
  }/*__________________________CONTENU-PART-1____*/
  .buddyTransition {
    width: 43%;
    height: 18%;
    margin: 0% 0% 2% 30%;
  }/*__________________________CONTENU-PART-2 et 3____*/
  table{width: 100%;font-size: .8em;}
  tr {padding-left: 20%;}
  td {padding-left: 8%;}
  .infoPseudoClass {
    position: absolute;
    margin-top:-5%;
    margin-left:2%;
    padding: 0%;
    width: 23%;
    font-size: .9em;
    color:#FFF;
    background:rgba(0,0,0,.8);
    border-radius:5px;
    box-shadow:0 0 4px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
  }
  .pseudoClassTitle{
    text-align: center;
    background:rgba(0,0,0,1);
    border-radius:5px 5px 0px 0px;
    box-shadow:0 0 4px rgba(0,0,0,.5);
    margin-bottom: 0;
  }
  .pseudoClassSubtitle{background:rgba(0,0,0,.5);text-align: center;margin-top: 0;}
  .pseudoClassContent{padding: 5px;}
  a{text-decoration: none;color:#0489B1;font-size: 1.2em;}
  td:hover a {cursor:pointer;text-decoration: none;font-weight: bold;}
  td:hover span {
    transform:scale(1) rotate(0);
    opacity:1;
  }/*__________________________CONTENU-PART-4____*/
  #tableTransition {width: 100%;}
  #tableTransition td {padding:0% 5% 0% 2%;margin:0%;}
  #tableTransition ul {padding:0% 0% 0% 10%;margin:0%;}
  #tableTransition li {padding:0% 0% 0% -10%;margin:0%;}
  #tableBorderLeft {border-left: 5px solid rgba(0, 0, 0, 0.2);}
  .texteTransition{font-size: .9em;}
  /*_________________________________CONTENU-PART-4 et 5____*/
  .editeurSection1{font-size: 1em;background-color:#373737;color:#FFF;padding-left:10%;margin-top:2%;}
  /*_________________________________CONTENU-PART-5____*/
  #preview{
    width: 100%;
    height: 270px;
    margin: 0%;
    padding: 0% 3% 0% 3%;haut,gauche,bas,droite*/
  }
  .button1, .button2{/*________________________BUTTON _____*/
    position: absolute;
    background-color: #120756;
    width: 50px;
    height: 27px;
    margin: 6% 0% 0% 33%;/*haut,bas,droite,gauche*/
    padding: 4px;
    color:#FFF;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #120756;
    font-size: .8em;
  }
  .button2 {
    width:60px;
    margin: 6% 0% 0% 20%;/*haut,bas,droite,gauche*/
  }
  .smallBulle1 {/*______________________PETITES BULLES______*/
    position: absolute;
    background-color: #FFF;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 40% 13.5%;
    left: 14.5%;
    border: 2px solid rgba(18, 7, 86, 0.5);
  }
  .smallBulle2 {
    position: absolute;
    background-color: #FFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin:  36% 12%;
    left: 18.6%;
    border: 3px solid rgba(18, 7, 86, 0.7);
  }
  .smallBulle3 {
    position: absolute;
    background-color: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 31% 10%;
    left: 24.6%;
    border: 4px solid rgba(18, 7, 86, 0.9);
  }
    /*________________________________________________________SECTION 2_____*/
  .container2 {/*______________________POSITION GHOST 2_____*/
    margin: 100% 0% 0% 0%;
    padding: 60% 0% 18% 0%;/*haut,bas,droite,gauche*/
  }
  #ghost2 {/*___________________________TAILLE GHOST 2______*/
    animation: float 3s ease-out infinite;
    width: 20%;
    height: 20%;
    margin: 0% 40%;
  }
  #ghost2:hover {
    cursor: pointer;
  }
  .shadowFrame2 {/*______________________TAILLE OMBRE 2_____*/
    width: 15%;
    margin-top: 20px;
    margin-left: 41.5%;
  }
  .speak {/*________________________BULLE CLIQUEZ-MOI _____*/
    position: absolute;
    width: 30%;
    height: 13%;
    margin-top: -15%;
    margin-left: 46.5%;
    animation: float 3s ease-out infinite;
  }
  .clickMe{/*_______________________TEXTE CLIQUEZ-MOI _____*/
    position: absolute;
    color:#FFF;
    font-weight: bold;
    width: 32%;
    font-size: .8em;
    margin: -11.5% 2% 0% 45.5%;
    animation: float 3s ease-out infinite;
    text-align: center;
  }
  .contour2_1, .contour2_2, .contour2_3 {/*__ROND ETAPE_*/
    padding: 12% 11% 0% 0%;
    width: 13%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    font-size: 2.3em;
    color: #3498DB;
    background-color: transparent;
    border: 3px solid #FFF;
    opacity: 0;
    position: absolute;
    z-index: 10;
  }
  .contour2_1{
    margin: 135% 0% 10% 20%;
    position: absolute;
  }
  .contour2_2{
    margin: 128% 0% 10% 40%;
    position: absolute;
  }
  .contour2_3{
    margin: 135% 0% 10% 60%;
    position: absolute;
  }
  .stepActif{background-color: green;}
  .stepActif * {color: green;}
  .fond2 {/*___________________FOND INTERIEUR ROND ETAPE___*/
    position: absolute;
    background-color: #FFF;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: -97% 0% 0% 5%;/* Pour régler dimensions*/
  }
  .fond2:hover {cursor: pointer;}
  .step1, .step2, .step3 {/*___________RECTANGLE GAUCHE______*/
    position: absolute;
    margin: 8% 0% 0% 0%;/*haut,bas,droite,gauche*/
    padding: 0% 0% 0% 0%;
    background-color: #FFF;
    width: 94%;
    height: 480px;
    border-radius: 8px;
    font-size: 3.5em;
    opacity: 0;
  }
  .affiche{opacity: 1;z-index: 10;}/*_SUR CLICK ETAPE ROND___*/
  .onglet {
    position: relative;
    display:flex;
    background-color: #848484;
    height: 6%;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    padding-left: 3%;

  }
  .tabHtml, .tabCss, .tabApercu {/*___BOUTONS STEP_____*/
    position: relative;
    display: inline;
    height: 5vh;
    margin: 2vh 0% 0% 2%;
    padding: 1vh 3%;
    border-radius: 5px 5px 0% 0%;
    border-bottom: 1px solid #FFF;
    font-size: .28em;
    color:#FFF;
    border: 1px solid #FFF;
    font-weight: bold;
    background-color: #585858;
  }
  .tabHtml:hover, .tabCss:hover, .tabApercu:hover {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
  }
  .tabs {width: 100vw;margin-top: -1.5vh;display: flex;padding-left: 0;}

  #contenu2_1, #contenu2_2, #contenu2_3 {
    padding: 0% 5%;
  }
  h2{
    line-height: 60%;
    text-align: center;
    margin-top: 20%;
  }
  .description {
    font-size: 0.3em;
    text-align: center;
  }
  .scroll {/*_____________________________TEXTE EDITEUR_____*/
    width: 100%;
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .25em;
    background-color: #373737;
    color: #FFF;
    padding: 2% 1%;
    line-height: 3px;
  }
  .explication {/*______________________LEGENDE CODE_____*/
    font-size: .3em;
  }
  embed{/*__________________________DIMENSIONS APERÇU____*/
    width: 100%;
    height: 400px;
  }
  #download {
    text-align: center;
    text-decoration: none;
    color: #373737;
  }
  #download:hover{
    color: navy;
    font-weight: bolder;
  }
}
